<md-toolbar class="md-lg-tall" style="box-shadow: none;">
    <div layout="row" layout-align="center end" layout-fill flex>
        <div layout="column" layout-align="start end" flex-gt-sm="75" flex="95">
            <div class="md-toolbar-title">
                Funcionários
            </div>
            <div class="md-toolbar-subtitle">
                <i class="ion-android-person"></i> Cadastro
            </div>
        </div>
    </div> <!-- END First row of column -->
</md-toolbar>
<md-toolbar layout="row" layout-align="center end"
            style="background-color: #ffffff; height: 64px; z-index: 1;">
    <md-tabs class="md-tab-header" flex-gt-sm="75">
        <md-tab label="Formulário"></md-tab>
        <md-tab label="..." ng-disabled="true"></md-tab>
    </md-tabs>
</md-toolbar> <!-- END Content of tab -->

<!-- DISPLAY NONE on devices less than 600px wide. -->
<md-content layout="row" layout-fill layout-align="center start" style="background-color: #eeeeee; margin-top: 30px; padding-bottom: 70px;"  hide-sm>
    <div layout="row" flex="75">
        <form class="md-whiteframe-z1 md-padding" layout="column" style="background-color: #ffffff; border-radius: 3px; padding:30px;"
              layout-padding ng-submit="postNewObject()" layout-fill>
            <!-- START person form content -->
            <h1><i class="ion-android-person"></i></h1>

            <md-input-container>
                <label>Nome completo</label>
                <input type="text" ng-model="newObject.nome" required/>
            </md-input-container>

            <md-input-container>
                <label>Cpf</label>
                <input type="text" ng-model="newObject.cpf" required/>
            </md-input-container>

            <md-input-container>
                <label>Rg</label>
                <input type="text" ng-model="newObject.rg" />
            </md-input-container>

            <md-input-container>
                <label>Data de nascimento</label>
                <input type="text" ng-model="newObject.data_nascimento" />
            </md-input-container>

            <md-radio-group ng-model="newObject.sexo" required>
                <md-radio-button value="f" ng-selected>Feminino</md-radio-button>
                <md-radio-button value="m">Masculino</md-radio-button>
            </md-radio-group>
            <!-- END person form content -->

            <!-- START location form content -->
            <h1><i class="ion-ios-location"></i></h1>

            <md-input-container>
                <label>Logradouro</label>
                <input type="text" ng-model="newObject.logradouro" />
            </md-input-container>

            <md-input-container>
                <label>Número</label>
                <input type="text" ng-model="newObject.numero" />
            </md-input-container>

            <md-input-container>
                <label>Complemento</label>
                <input type="text" ng-model="newObject.complemento" />
            </md-input-container>

            <md-input-container>
                <label>Bairro</label>
                <input type="text" ng-model="newObject.bairro" />
            </md-input-container>

            <md-input-container>
                <label>Cep</label>
                <input type="text" ng-model="newObject.cep" />
            </md-input-container>

            <md-input-container>
                <label>Município</label>
                <input type="text" ng-model="newObject.municipio" />
            </md-input-container>

            <md-input-container>
                <label>UF</label>
                <input type="text" ng-model="newObject.uf" />
            </md-input-container>
            <!-- END location form content -->

            <!-- START contact form content -->
            <h1><i class="ion-android-mail"></i></h1>
            <md-input-container>
                <label>Email</label>
                <input type="text" ng-model="newObject.email" />
            </md-input-container>

            <md-input-container>
                <label>Telefone</label>
                <input type="text" ng-model="newObject.tel" />
            </md-input-container>

            <md-input-container>
                <label>Celular</label>
                <input type="text" ng-model="newObject.cel" />
            </md-input-container>
            <!-- END contact form content -->

            <!-- START professional form content -->
            <h1><i class="ion-clipboard"></i></h1>

            <md-input-container>
                <label>Setor</label>
                <input type="text" ng-model="newObject.setor" />
            </md-input-container>

            <md-input-container>
                <label>Cargo</label>
                <input type="text" ng-model="newObject.cargo" />
            </md-input-container>

            <md-input-container>
                <label>Data de admissão</label>
                <input type="text" ng-model="newObject.data_admissao" />
            </md-input-container>

            <md-input-container>
                <label>Data de registro</label>
                <input type="text" ng-model="newObject.data_registro" />
            </md-input-container>

            <md-input-container>
                <label>Ctps</label>
                <input type="text" ng-model="newObject.ctps" />
            </md-input-container>

            <md-input-container>
                <label>Pis/Pasep</label>
                <input type="text" ng-model="newObject.pis_pasep" />
            </md-input-container>

            <md-input-container>
                <label>Salário</label>
                <input type="text" ng-model="newObject.salario" />
            </md-input-container>

            <md-input-container>
                <label>Vale transporte diário</label>
                <input type="text" ng-model="newObject.transporte" />
            </md-input-container>

            <md-input-container>
                <label>Vale refeição diário</label>
                <input type="text" ng-model="newObject.refeicao" />
            </md-input-container>

            <md-input-container>
                <label>Carga horária semanal</label>
                <input type="text" ng-model="newObject.carga_horaria_semanal" />
            </md-input-container>
            <!-- END Form professional content -->

            <div layout="row" layout-align="end" flex>
                <md-button class="md-primary">Confirmar</md-button>
            </div>
        </form>
    </div>
</md-content>
<md-button class="md-fab md-fab-top-right" style="top:164px;"
           aria-label="Novo" hide-sm ui-sref="employee.list">
    <i class="ion-android-arrow-back"></i>
</md-button>
<!-- END -->

<!-- DISPLAY NONE on devices greater than 600px wide. -->
<md-content layout="row" layout-fill layout-align="center start" style="background-color: #eeeeee;"  hide-gt-sm>
    <div layout="column" flex>
                <form class="md-whiteframe-z1 md-padding" layout="column" style="background-color: #ffffff; border-radius: 3px; padding:30px;"
              layout-padding ng-submit="postNewObject()" layout-fill>
            <!-- START person form content -->
            <h1><i class="ion-android-person"></i></h1>

            <md-input-container>
                <label>Nome completo</label>
                <input type="text" ng-model="newObject.nome" required/>
            </md-input-container>

            <md-input-container>
                <label>Cpf</label>
                <input type="text" ng-model="newObject.cpf" required/>
            </md-input-container>

            <md-input-container>
                <label>Rg</label>
                <input type="text" ng-model="newObject.rg" />
            </md-input-container>

            <md-input-container>
                <label>Data de nascimento</label>
                <input type="text" ng-model="newObject.data_nascimento" />
            </md-input-container>

            <md-radio-group ng-model="newObject.sexo" required>
                <md-radio-button value="f" ng-selected>Feminino</md-radio-button>
                <md-radio-button value="m">Masculino</md-radio-button>
            </md-radio-group>
            <!-- END person form content -->

            <!-- START location form content -->
            <h1><i class="ion-ios-location"></i></h1>

            <md-input-container>
                <label>Logradouro</label>
                <input type="text" ng-model="newObject.logradouro" />
            </md-input-container>

            <md-input-container>
                <label>Número</label>
                <input type="text" ng-model="newObject.numero" />
            </md-input-container>

            <md-input-container>
                <label>Complemento</label>
                <input type="text" ng-model="newObject.complemento" />
            </md-input-container>

            <md-input-container>
                <label>Bairro</label>
                <input type="text" ng-model="newObject.bairro" />
            </md-input-container>

            <md-input-container>
                <label>Cep</label>
                <input type="text" ng-model="newObject.cep" />
            </md-input-container>

            <md-input-container>
                <label>Município</label>
                <input type="text" ng-model="newObject.municipio" />
            </md-input-container>

            <md-input-container>
                <label>UF</label>
                <input type="text" ng-model="newObject.uf" />
            </md-input-container>
            <!-- END location form content -->

            <!-- START contact form content -->
            <h1><i class="ion-android-mail"></i></h1>
            <md-input-container>
                <label>Email</label>
                <input type="text" ng-model="newObject.email" />
            </md-input-container>

            <md-input-container>
                <label>Telefone</label>
                <input type="text" ng-model="newObject.tel" />
            </md-input-container>

            <md-input-container>
                <label>Celular</label>
                <input type="text" ng-model="newObject.cel" />
            </md-input-container>
            <!-- END contact form content -->

            <!-- START professional form content -->
            <h1><i class="ion-clipboard"></i></h1>

            <md-input-container>
                <label>Setor</label>
                <input type="text" ng-model="newObject.setor" />
            </md-input-container>

            <md-input-container>
                <label>Cargo</label>
                <input type="text" ng-model="newObject.cargo" />
            </md-input-container>

            <md-input-container>
                <label>Data de admissão</label>
                <input type="text" ng-model="newObject.data_admissao" />
            </md-input-container>

            <md-input-container>
                <label>Data de registro</label>
                <input type="text" ng-model="newObject.data_registro" />
            </md-input-container>

            <md-input-container>
                <label>Ctps</label>
                <input type="text" ng-model="newObject.ctps" />
            </md-input-container>

            <md-input-container>
                <label>Pis/Pasep</label>
                <input type="text" ng-model="newObject.pis_pasep" />
            </md-input-container>

            <md-input-container>
                <label>Salário</label>
                <input type="text" ng-model="newObject.salario" />
            </md-input-container>

            <md-input-container>
                <label>Vale transporte diário</label>
                <input type="text" ng-model="newObject.transporte" />
            </md-input-container>

            <md-input-container>
                <label>Vale refeição diário</label>
                <input type="text" ng-model="newObject.refeicao" />
            </md-input-container>

            <md-input-container>
                <label>Carga horária semanal</label>
                <input type="text" ng-model="newObject.carga_horaria_semanal" />
            </md-input-container>
            <!-- END Form professional content -->

            <div layout="row" layout-align="end" flex>
                <md-button class="md-primary">Confirmar</md-button>
            </div>
        </form>
    </div>
</md-content>
    </div>
</md-content>

<md-button class="md-fab md-fab-bottom-right" style="position:fixed;"
           aria-label="Novo" hide-gt-sm ui-sref="employee.list">
    <i class="ion-android-arrow-back"></i>
</md-button>

<!-- END -->

