body {
    padding: 0;
}

.md-whiteframe{
    background-color: #fff;
}

.login-box{
    padding:20px;
}

img.face{
    border-radius: 30px;
    border: 1px solid #ddd;
    width: 48px;
    margin: 16px;
}
