<md-bottom-sheet class="md-grid" layout-align="center center">
    <md-list layout-align="center center" layout-sm="column">
        <md-item>
            <md-button class="md-grid-item-content" aria-label="Venda" style="display: initial;">
                <md-tooltip>
                    Venda
                </md-tooltip>
                <div class="md-icon-container">
                    <i class="icon icon-handsshake" style="font-size: 48px;"></i>
                </div>
                <p class="md-grid-text" style="width: 100%;">Venda</p>
            </md-button>
        </md-item>
        <md-item>
            <md-button class="md-grid-item-content" aria-label="Estoque" style="display: initial;">
                <md-tooltip>
                    Estoque
                </md-tooltip>
                <div class="md-icon-container">
                    <i class="icon icon-box1" style="font-size: 48px;"></i>
                </div>
                <p class="md-grid-text" style="width: 100%;">Estoque</p>
            </md-button>
        </md-item>
        <md-item>
            <md-button class="md-grid-item-content" aria-label="Compra" style="display: initial;">
                <md-tooltip>
                    Compra
                </md-tooltip>
                <div class="md-icon-container">
                    <i class="icon icon-shopping" style="font-size: 48px;"></i>
                </div>
                <p class="md-grid-text" style="width: 100%;">Compra</p>
            </md-button>
        </md-item>
        <md-item>
            <md-button class="md-grid-item-content" aria-label="Financeiro" style="display: initial;">
                <md-tooltip>
                    Financeiro
                </md-tooltip>
                <div class="md-icon-container">
                    <i class="icon icon-realestate" style="font-size: 48px;"></i>
                </div>
                <p class="md-grid-text" style="width: 100%;">Financeiro</p>
            </md-button>
        </md-item>
        <md-item>
            <md-button class="md-grid-item-content" aria-label="Conferência" style="display: initial;">
                <md-tooltip>
                    Conferência
                </md-tooltip>
                <div class="md-icon-container">
                    <i class="icon icon-commercial" style="font-size: 48px;"></i>
                </div>
                <p class="md-grid-text" style="width: 100%;">Conferência</p>
            </md-button>
        </md-item>
        <md-item>
            <md-button class="md-grid-item-content" aria-label="Expedição" style="display: initial;">
                <md-tooltip>
                    Expedição
                </md-tooltip>
                <div class="md-icon-container">
                    <i class="icon icon-logistics2" style="font-size: 48px;"></i>
                </div>
                <p class="md-grid-text" style="width: 100%;">Expedição</p>
            </md-button>
        </md-item>
    </md-list>
</md-bottom-sheet>