<md-bottom-sheet class="md-grid" layout-align="center center">
    <md-list layout-align="center center" layout-sm="column">
        <md-item>
            <md-button class="md-grid-item-content" aria-label="Cliente" style="display: initial;">
                <md-tooltip>
                    Cliente
                </md-tooltip>
                <div class="md-icon-container">
                    <i class="ion-person" style="font-size: 48px;"></i>
                </div>
                <p class="md-grid-text" style="width: 100%;">Cliente</p>
            </md-button>
        </md-item>
        <md-item>
            <md-button class="md-grid-item-content" aria-label="Produto" style="display: initial;">
                <md-tooltip>
                    Produto
                </md-tooltip>
                <div class="md-icon-container">
                    <i class="ion-cube" style="font-size: 48px;"></i>
                </div>
                <p class="md-grid-text" style="width: 100%;">Produto</p>
            </md-button>
        </md-item>
        <md-item>
            <md-button class="md-grid-item-content" aria-label="Fornecedor" style="display: initial;">
                <md-tooltip>
                    Fornecedor
                </md-tooltip>
                <div class="md-icon-container">
                    <i class="icon icon-factory" style="font-size: 48px;"></i>
                </div>
                <p class="md-grid-text" style="width: 100%;">Fornecedor</p>
            </md-button>
        </md-item>
        <md-item>
            <md-button class="md-grid-item-content" aria-label="Funcionario" style="display: initial;" ng-click="location('/entries/employee')">
                <md-tooltip>
                    Funcionário
                </md-tooltip>
                <div class="md-icon-container">
                    <i class="ion-android-person" style="font-size: 48px;"></i>
                </div>
                <p class="md-grid-text" style="width: 100%;">Funcionário</p>
            </md-button>
        </md-item>
        <md-item>
            <md-button class="md-grid-item-content" aria-label="Transportadora" style="display: initial;">
                <md-tooltip>
                    Transportadora
                </md-tooltip>
                <div class="md-icon-container">
                    <i class="icon icon-truck" style="font-size: 48px;"></i>
                </div>
                <p class="md-grid-text" style="width: 100%;">Transportodora</p>
            </md-button>
        </md-item>
        <md-item>
            <md-button class="md-grid-item-content" aria-label="Veículo" style="display: initial;">
                <md-tooltip>
                    Veículo
                </md-tooltip>
                <div class="md-icon-container">
                    <i class="ion-android-car" style="font-size: 48px;"></i>
                </div>
                <p class="md-grid-text" style="width: 100%;">Veículo</p>
            </md-button>
        </md-item>
    </md-list>
</md-bottom-sheet>