<md-bottom-sheet class="md-grid" layout-align="center center">
    <md-list layout-align="center center" layout-sm="column">
        <md-item>
            <md-button class="md-grid-item-content" aria-label="Notificação" style="display: initial;">
                <md-tooltip>
                    Notificação
                </md-tooltip>
                <div class="md-icon-container">
                    <i class="ion-android-notifications" style="font-size: 48px;"></i>
                </div>
                <p class="md-grid-text" style="width: 100%;">Notificação</p>
            </md-button>
        </md-item>
        <md-item>
            <md-button class="md-grid-item-content" aria-label="Mensagem" style="display: initial;">
                <md-tooltip>
                    Mensagem
                </md-tooltip>
                <div class="md-icon-container">
                    <i class="ion-email" style="font-size: 48px;"></i>
                </div>
                <p class="md-grid-text" style="width: 100%;">Mensagem</p>
            </md-button>
        </md-item>
    </md-list>
</md-bottom-sheet>