<md-bottom-sheet class="md-grid" layout-align="center center">
    <md-list layout-align="center center" layout-sm="column">
        <md-item>
            <md-button class="md-grid-item-content" aria-label="Editar" style="display: initial;">
                <md-tooltip>
                    Editar
                </md-tooltip>
                <div class="md-icon-container">
                    <i class="ion-edit" style="font-size: 48px;"></i>
                </div>
                <p class="md-grid-text" style="width: 100%;">Editar</p>
            </md-button>
        </md-item>
        <md-item>
            <md-button class="md-grid-item-content" aria-label="Sair" style="display: initial;" ng-click="logout()">
                <md-tooltip>
                    Sair
                </md-tooltip>
                <div class="md-icon-container">
                    <i class="ion-close-circled" style="font-size: 48px;"></i>
                </div>
                <p class="md-grid-text" style="width: 100%;">Sair</p>
            </md-button>
        </md-item>
    </md-list>
</md-bottom-sheet>