<md-toolbar layout="column" layout-align="start center" style="box-shadow: none;">
    <div layout="row" layout-fill flex="33">
        <div layout="row" layout-align="start start" layout-margin>
            <md-button aria-label="Menu" ng-disabled="true">
                <i class="ion-android-menu"></i>
            </md-button>
            <md-button aria-label="Pesquisa">
                <i class="ion-android-search"></i>
            </md-button>
        </div>
        <div layout="row" layout-align="end start" layout-margin flex>
            <!-- Include a fixed menu for app -->
            <div ng-include="'views/menu.html'"></div>
        </div>
    </div> <!-- END First row of column -->
</md-toolbar>
<!-- View -->
<ui-view>
</ui-view>
