<div layout="column" layout-sm="column" layout-align="center center" layout-fill>
    <md-content class="md-whiteframe-z1" layout-padding layout-margin layout-fill-sm>
        <form name="loginForm"  ng-submit="login()" layout-margin>
            <md-input-container>
                <label>Usuário</label>
                <input name="username" required ng-model="user.username" />
            </md-input-container>
            <md-input-container>
                <label>Senha</label>
                <input type="password" name="password" required ng-model="user.password" />
            </md-input-container>
            <br />
            <md-input-container>
                <md-switch ng-model="keepConn" aria-label="Manter conectado">
                    Manhtenha-me conectado
                </md-switch>
            </md-input-container>
            <md-input-container ng-if="!load_login">
                <md-button class="md-raised md-primary submit">Entrar</md-button>
            </md-input-container>
            <div layout="row" layout-align="center center" ng-if="load_login">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
        </form>
    </md-content>
</div>